<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recuperação de senha</title>
</head>
<body>
  <h1>Recuperação de senha</h1>
  <p>Olá {{name}},</p>
  <p>Você está recebendo este e-mail porque solicitou a recuperação de senha da sua conta em nosso site. Por favor, clique no link abaixo para redefinir sua senha:</p>
  <p><a href="{{resetLink}}">{{resetLink}}</a></p>
  <p>Se você não solicitou a recuperação de senha, por favor ignore este e-mail.</p>
  <p>Obrigado!</p>
</body>
</html>